

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #E5E5E5;
}

.acordeon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 655px;
    height: 347px;
    background-color: #fff;
    box-shadow: 0px 27px 49px -25px rgba(0 , 0 , 0 , 0.3);
    border-radius: 30px;
}

img {
    position: relative;
    width: 278px;
    height: 293px;
    left: -90px;
}
.acondion .conteudoh1 {
    font-weight: 700;
    font-size: 25px;
}

.conteudo {
    position: relative;
    min-width: 390px;
    height: auto;
    left: -50px;
}

.acordeon .items .item {
    cursor: pointer;
    background-image: url(../img/seta.png);
    background-repeat: no-repeat;
    background-position: top 8px right 0;
    background-size: 12px;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    max-width: 90%;
}

.acordeon .items .item:last-child {
    border-bottom: none;
}

.pergunta {
    font-weight: 500;
    font-size: 17px;
    padding-bottom: 15px;
    transition: 0.2s ease;
}

.pergunta:hover {
    color: #f47c57;
}

.resposta {
    display: none;
    padding-bottom: 15px;
    font-weight: 300;
}

.acordeon .items .item.ativo h2 {
    font-weight: 700;
    font-size: 17px;
}

.acordeon .items .item.ativo .resposta {
    display: block;
}

.acordeon .items .item.ativo {
    background-image: url(../img/setaLaranja.png);
}