

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.acordeon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 655px;
    height: 347px;
    box-shadow: 3px 15px 30px 10px rgba(0 , 0 , 0 , 0.3);
    border-radius: 30px;
}

img {
    position: relative;
    width: 278px;
    height: 293px;
    left: -90px;
}
.acondion .conteudoh1 {
    font-weight: 700;
    font-size: 25px;
}

.pergunta {
    font-weight: 500;
    font-size: 17px;
}

.conteudo {
    position: relative;
    max-width: 390px;
    height: auto;
    left: -50px;
}

.acordeon .items .item {
    cursor: pointer;
    background-image: url(../img/seta.png);
    background-repeat: no-repeat;
    background-position: top 8px right 0;
    background-size: 12px;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}

.acordeon .items .item:last-child {
    border-bottom: none;
}